<div class="flex flex-col items-center h-screen bg-slate-100 relative">
  <div
    class="absolute w-full h-2/5 top-0 left-0 bg-mountains bg-cover bg-center bg-no-repeat"
    style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 94%)"
  ></div>
  <div
    class="absolute w-full h-2/5   top-0 left-0 right-0 bg-gradient-to-tl from-green-100/80 to-blue-400/90"
    style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 94%)"
  ></div>
  <div class="w-full max-w-md z-10 mt-48">
    <todo-input></todo-input>
    <todo-list></todo-list>
  </div>
</div>
